.image-container {
    position: relative;
    display: inline-block;
}

.about {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #444444;
    font-size: 100%;
    background-color: #D3D3D3;
    padding: 10px 40px;
    margin: 10% 15%;
    text-align: center;
    box-shadow: 60px -16px teal;
}

.about-title {
    display: block;
    font-size: 150%;
    margin: 0 auto;
    width: fit-content;
}

.text-form input {
    border: none;
    outline: none;
}

.text-form input:focus {
    outline: none; /* フォーカス時のアウトラインを消す */
    border: none; /* フォーカス時の枠線を消す */
    box-shadow: none; /* フォーカス時のボックスシャドウを消す */
}